.mpg-ads-cont-desk {
    padding: 3vh 0vh 5vh 0vh;

}

.ads-img-cont-desk {
    display: inline-block;
    padding: .5vh 1vw;
    margin: 1vh 1vw;
    border-radius: 1%;
    border: .2vh solid #000000;
    background-color: #00000056;
    float: left;
    cursor: pointer;
}



.ads-img-desk {
    display: inline-block;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20vw;
    height: 40vh;
    cursor: pointer;
}



.ads-tit-desk {
    display: inline-block;
    font-size: 4vh;
    cursor: pointer;
    transition: color .5s;
    height: 1vh;
}

.ads-tit-desk:hover {
    color: #84d3e7;
}

.ads-desc-desk {
    display: block;
    padding: 0vh 1.5vw;
    font-size: 3vh;
    word-wrap: break-word;
    width: 60vw;
    height: 36vh;
    overflow: hidden;
}