

.pro-ads-cont-mob{
    padding: 1vh 0vh 1vh 0vh;
}
.pro-ads-img-mob {

    background-image: url("../../../../media/t1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80vw;
    height: 30vh;
    margin: 3vh 5vw;
    border: .6vh solid #00000030;
    border-radius: 1%;
}

.pro-ads-tit-mob{
    /* display: block; */
    font-size: 3vh;

    display: inline-block;

    cursor: pointer;    transition: color .5s;

}


.ads-desc-mob {
display: none;
}

