@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

/* 

font-family: 'Dancing Script', cursive;



*/

/* .background{
    position:fixed;
    z-index: -1;
    top: 0%;
    left: 0%;
}

.background-desk{
    width: 100vw;
}


.background-mob{
    
    height: 100vh;
}
 */

body{
    background-color: #464444;
}



.mpg-title{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #c00c0c;
    text-shadow: 1px 0px 1px #000000, 0px 1px 1px #000000, 2px 1px 1px #000000, 1px 2px 1px #000000, 3px 2px 1px #000000, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC, 2px 2px 2px rgba(206,89,55,0);
}

.mpg-search-cont{
    width: 100%;
    background-color: #464444;
    margin: 5vh 0vw;
    height: fit-content;
}

.mpg-search-input{
    width: 90%;
}