.usinb-modal-cont{
    background-color: #767676cb;
    position: fixed;
    z-index: 10;
}

.usinb-modal-close{
    color: #ff8787;
    background-color: transparent;
    border-color: #ff8787;
}





.usinb-modal-cont-desk{
    width: 10vw;
    height: 10vh;
    top: 0;
}

.usinb-modal-close-desk{
    
}


