@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

/* 

font-family: 'Tektur', cursive;



*/




.span-nmsj-txt{
    color: #dadada;
}

.span-nmsj-num{
    color: #ff8d8d;
}



.chat-img{
    
}


.dialog-cont{

    background-color: #6e6e6e;
}
.dialog-txt{
    font-family: 'Tektur', cursive;
    text-shadow: #000000 3px 5px 2px,#000000 3px 5px 2px,#000000 3px 5px 2px;
    color: #e8fbfb;
    
}



.chat-btn{
    font-family: 'Tektur', cursive;
    background-image: url('../../../../../media/send_icon.png');
    background-color: #7186d9;
}


.chat-btn-back{
    color: #000000;
    background-color: #7fc3ed;
    border: 2px solid #7fc3ed;
}