
.alert-img-mob{
    width: 50%;
}


.disclaim-mob{
    font-size: 5vh;
}



.disc-accept-mob{
    font-size: 4vh;
    margin: 5vh 0vh 5vh 0vh ;
}
.disc-cancel-mob{
    font-size: 4vh;
}